<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python Training Program | By Fledge Consulting Pvt Ltd</title>
    <link rel="stylesheet" href="{{ url_for('home.static', filename='vendor/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('home.static', filename='vendor/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&subset=latin,latin-ext">
</head>
<body>
    
    <div class="container">
        <div class="row align-items-center row-content header p-0 m-0">
            <div class="jumbotron shadow">
                <div class="container">
                        <div class="row align-items-center">
                            <div class="col jum-col-1">
                                    <h1 class="jumbo-tag mb-5"> <span class="bg-highlighter p-1"> WELCOME TO THE</span> <span class="bg-highlighter p-1"> PYTHON BASIC</span>  <span class="bg-highlighter p-1"> COURSE</span> </h1>
                                    <p class="jumbo-content mb-5">What you’ll learn:</p>
                                    <ul class="jumbo-content">
                                        <li class="mb-3">Fundamentals of Python</li>
                                        <li class="mb-3">Build Basic Apps</li>
                                        <li class="mb-3">Practical Problem Solving</li>
                                    </ul>
                                    <a class="btn btn-primary btn-lg btn-fledge mt-2 shadow-lg" href="#" role="button" data-toggle="modal" data-target="#exampleModalCenter">Register Now</a>
                            </div>
                            <div class="col-6 python-image d-none d-md-block">
                                <div class="python-layer"></div>
                                    <!-- <div class="hero-text">
                                        <h1 style="font-size:50px">I am Jane Doe</h1>
                                        <h3>And I'm a Photographer</h3>
                                        <button>Hire me</button>
                                    </div> -->
                            </div>
                        </div>
                </div>
              </div>
        </div>
        <div class="row  row-content align-items-center">
            <div class="col-12 p-5 d-flex justify-content-center">
                <h2 class="text-center benefits-header text-highlight">About Course</h2>
            </div>
            <div class="col-12 col-lg-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                    </div>
                <!-- <iframe  class="" width="683"  src="https://www.youtube.com/embed/nuPDpuGeFps" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center mt-4 mt-sm-0">
                <p class="justify-content-center benefits-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure enim vel exercitationem accusamus ipsa reiciendis nam recusandae omnis eligendi soluta. Esse explicabo quis magnam id nulla rem quos amet asperiores.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure enim vel exercitationem accusamus ipsa reiciendis nam recusandae omnis eligendi soluta. Esse explicabo quis magnam id nulla rem quos amet asperiores.</p>
            </div>
        </div>
        <div class="row  d-flex align-items-center bg-fledge mb-5 shadow text-white">
            <!-- <div class="col-12 d-flex justify-content-center">
                <h1>Lessons, Hours and Exercises Python Basic Course</h1>
            </div> -->
            <div class="col-12 col-sm-4 p-4 p-sm-5">
                
                <h1 class="card-text text-center mb-4"><i class="fa fa-book fa-lg"></i></h1>
                <h2 class="card-text text-center benefits-title mb-4 text-highlight">7 lessons</h2>
                <p class="card-text text-center text-white benefits-desc">Add a description of your offer and key benefits</p>
            </div>
            <div class="col-12 col-sm-4 p-4 p-sm-5">
                
                <h1 class="card-text text-center mb-4"><i class="fa fa-clock-o fa-lg"></i></h1>
                <h2 class="card-text text-center benefits-title mb-4 text-highlight">14 Hours</h2>
                <p class="card-text text-center text-white benefits-desc">Add a description of your offer and key benefits</p>
            </div>
            <div class="col-12 col-sm-4 p-4 p-sm-5">
                
                <h1 class="card-text text-center mb-4"><i class="fa fa-level-up fa-lg"></i></h1>
                <h2 class="card-text text-center benefits-title mb-4 text-highlight">20+ Exercises</h2>
                <p class="card-text text-center text-white benefits-desc">Add a description of your offer and key benefits</p>
            </div>
        </div>
        <div class="row align-items-center row-content mb-5 instructor-row">
            <div class="col-12 order-sm-first d-flex justify-content-center">
                <h1 class="benefits-header">Instructor</h1>
            </div>
            
            <div class="col-12">
                <div class="media mb-5">
                    <img src="https://fledge.xyz/wp-content/uploads/bb-plugin/cache/WhatsApp-Image-2019-02-23-at-4.28.52-PM-150x150-circle.jpeg" alt="teacher" class="img-fluid mt-5 rounded">
                    <div class="media-body ml-sm-5 mt-5 d-flex flex-column ml-2">
                            <h2 class="text-fledge">Mohammad Shais Sheikh</h2>
                            <h5 class="text-fledge mb-3">Full Stack Software Engineer, Entrepreneur and Teacher</h5>
                            <p class="d-none d-sm-block">Mohammad Shais Sheikh is a <strong>Full Stack Software Engineer from India</strong>, having more than <strong>6 years of professional experience</strong>. 
                            Currently working as <strong>Director and CEO at Fledge Consulting Pvt Ltd</strong> and teaches as a <strong>lead instructor with Fledge Consulting</strong>.  
                           </p>
                    </div>
                </div>
            </div>
            <!-- As an important part of Fledge, Mohammad Shais conducted technical trainings that empowered and enabled freshers as well as experienced individuals to enhance their careers.
            Mohammad Shais worked with various technologies such as <strong>Python, PHP, SQL, MEAN/MERN Stack at Fledge</strong>, small startup and well-established firm maintaining his interests in <strong>Web & Software Application Development, Education, and Programming</strong>. -->
            <!-- <div class="col">
                <div class="media">
                    <div class="media-body mt-5">
                            <h2 class="text-fledge">Alena Jones </h2>
                            <p class="d-none d-sm-block">A unique combination of Indian Uthappam (pancake) and Italian pizza, topped with Cerignola olives, ripe vine cherry tomatoes, Vidalia onion, Guntur chillies and Buffalo Paneer.</p>
                    </div>
                    <img src="./images/teachers_03.jpg" alt="teacher" class="img-fluid">
                </div>
            </div> -->
        </div>
        <div class="row align-items-center parallax mb-5 bg-fledge shadow text-white">
            <div class="yellow-bg d-flex"></div>
            <div class="col-sm-12 d-flex justify-content-center p-5">
                <h1 class="benefits-header text-center text-highlight">Benefits</h1>
            </div>
            <div class="col-sm-4 d-flex flex-column justify-content-center">
                <h1 class="text-center benefits-title text-highlight">Benefits 1</h1>
                <p class="text-center text-white benefits-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi esse dolorum molestias sed quis magni maxime, numquam quidem in. Aut voluptatem eum nisi rerum commodi iusto quia debitis facilis id?</p>
            </div>
            <div class="col-sm-4 d-flex justify-content-center flex-column">
                    <h1 class="text-center benefits-title text-highlight">Benefits 1</h1>
                    <p class="text-center text-white benefits-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi esse dolorum molestias sed quis magni maxime, numquam quidem in. Aut voluptatem eum nisi rerum commodi iusto quia debitis facilis id?</p>
            </div>
            <div class="col-sm-4 d-flex justify-content-center flex-column">
                    <h1 class="text-center benefits-title text-highlight">Benefits 1</h1>
                    <p class="text-center text-white benefits-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi esse dolorum molestias sed quis magni maxime, numquam quidem in. Aut voluptatem eum nisi rerum commodi iusto quia debitis facilis id?</p>
            </div>
        </div>
        <div class="row row-content mb-5">
            <div class="col">
                <div class="card mt-5 shadow">
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                        <p class="text-center">"Python has been an important part of Google since the beginning, and remains so as the system grows and evolves. Today dozens of Google engineers use Python, and we're looking for more people with skills in this language."</p>
                        <footer class="blockquote-footer text-center"> said Peter Norvig, director of search quality at <cite title="Google, Inc"><a href="https://www.google.com/" class="quote-link">Google, Inc.</a></cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-content align-items-center testimonial-parallax mb-5 bg-white">
            <div class="col-sm-12 d-flex justify-content-center p-4">
                <h1 class="benefits-header text-center text-highlight">Testimonials</h1>
            </div>
            <div class="col-12 d-flex justify-content-center flex-wrap ">
                <!-- <h1 class="text-center">test test test</h1> -->
                <div class="card m-sm-4 shadow border-fledge w-auto" style="">
                    <div class="card-body">
                        <h5 class="card-title">John Doe</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Perfect Course!!!</h6>
                        <p class="card-text">Awesome course content. Great for beginners.</p>
                    </div>
                </div>
                <div class="card m-sm-4 shadow border-fledge w-auto" style="">
                    <div class="card-body">
                        <h5 class="card-title">John Doe</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Perfect Course!!!</h6>
                        <p class="card-text">Awesome course content. Great for beginners.</p>
                    </div>
                </div>
                <div class="card m-sm-4 shadow border-fledge w-auto" style="">
                        <div class="card-body">
                            <h5 class="card-title">John Doe</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Perfect Course!!!</h6>
                            <p class="card-text">Awesome course content. Great for beginners.</p>
                        </div>
                    </div>
                    <div class="card m-sm-4 shadow border-fledge w-auto" style="">
                        <div class="card-body">
                            <h5 class="card-title">John Doe</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Perfect Course!!!</h6>
                            <p class="card-text">Awesome course content. Great for beginners.</p>
                        </div>
                    </div>
                    <div class="card m-sm-4 shadow border-fledge w-auto" style="">
                        <div class="card-body">
                            <h5 class="card-title">John Doe</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Perfect Course!!!</h6>
                            <p class="card-text">Awesome course content. Great for beginners.</p>
                        </div>
                    </div>
                    <div class="card m-sm-4 shadow border-fledge w-auto" style="">
                        <div class="card-body">
                            <h5 class="card-title">John Doe</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Perfect Course!!!</h6>
                            <p class="card-text">Awesome course content. Great for beginners.</p>
                        </div>
                    </div>
            </div>
            <!-- <div class="col-sm-6 d-flex justify-content-center flex-column">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">John Doe</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Perfect Course!!!</h6>
                        <p class="card-text">Awesome course content. Great for beginners.</p>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="row align-items-center row-content bg-fledge shadow-lg">
            <div class="col-12 d-flex justify-content-center mb-5">
                <h1 class="benefits-header text-white text-highlight">FAQs</h1>
            </div>
            <div class="col-sm-8 offset-sm-2 text-white mb-5">
                <h3 class="text-uppercase">Do you provide an internship letter?</h3>
                <p class="benefits-desc">Yes we do! After the course completion, we will provide you a hard copy of an official certificate of completion that can be used to be reimbursed by your employer or land that dream job you are applying for.</p>
            </div>
            <div class="col-sm-8 offset-sm-2 text-white mb-5">
                <h3 class="text-uppercase">Do you provide a certificate of completion?</h3>
                <p class="benefits-desc">Yes we do! After the course completion, we will provide you a hard copy of an official certificate of completion that can be used to be reimbursed by your employer or land that dream job you are applying for.</p>
            </div>
            <div class="col-sm-8 offset-sm-2 text-white mb-5">
                <h3 class="text-uppercase">What other courses do you have?</h3>
                <p class="benefits-desc">Lots of free and premium web development courses are coming soon — check out the whole listing over at <a href="https://fledge.xyz/courses" target="_blank">fledge.xyz/courses</a>.</p>
            </div>
            <div class="col-sm-8 offset-sm-2 text-white mb-5">
                <h3 class="text-uppercase">I HAVE ANOTHER QUESTION!</h3>
                <p class="benefits-desc">Sure - email us at <a href="mailto:info@fledge.xyz">info@fledge.xyz</a> or give us a call at <a href="tel:+919158651112">+91 91586 51112</a> or <a href="tel:+919096666640">+91 90966 66640</a>!</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container align-items-center">
          <span class="text-muted">© 2020 Fledge Consulting Pvt Ltd. All rights reserved.</span>
        </div>
      </footer>
    
    
    <script src="{{ url_for('home.static', filename='vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('home.static', filename='vendor/popper.min.js') }}"></script>
    <script src="{{ url_for('home.static', filename='vendor/bootstrap.min.js') }}"></script>
    <script>
    function mobileViewUpdate() {
    var viewportWidth = $(window).width();
    if (viewportWidth < 600) {
        // $(".parallax").removeClass("parallax");
        // $(".testimonial-parallax").removeClass("testimonial-parallax");
        $(".bg-highlighter").removeClass("bg-highlighter");
    }
}

$(window).load(mobileViewUpdate);
$(window).resize(mobileViewUpdate);
    </script>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Attendee Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <form name="registration" autocomplete="on">
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
         <div class="form-group">
	    <input type="text" class="form-control" placeholder="Enter Attendee's Name" id="name" name="name">
	  </div>
	  <div class="form-group">
	    <input type="email" class="form-control" placeholder="Enter Attendee's Email" id="email" name="email">
	  </div>
	  <div class="form-group">
	    <input type="text" class="form-control" placeholder="Enter Attendee's Mobile No" id="mobile" name="mobile">
	  </div>
	  <div class="form-group">
		<div class="form-check-inline">
      		<label class="form-check-label" for="radio1">
        	<input type="radio" class="form-check-input" id="radio1" name="status" value="student" checked>Student
      		</label>
	        </div>
		<div class="form-check-inline">
		<label class="form-check-label" for="radio2">
		<input type="radio" class="form-check-input" id="radio2" name="status" value="working">Working Professional
		</label>
		</div>
	  </div>
	<div class="form-group">
		<div class="form-check-inline">
      		<label class="form-check-label" for="radio1">
        	<input type="radio" class="form-check-input" id="radio1" name="background" value="tech" checked>Technical
      		</label>
	        </div>
		<div class="form-check-inline">
		<label class="form-check-label" for="radio2">
		<input type="radio" class="form-check-input" id="radio2" name="background" value="nontech">Non Tech
		</label>
		</div>
	  </div>
	<div class="form-group">
		<label for="sel1">Education</label>
		<select class="form-control" id="sel1" name="education">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		</select>
	</div>
	<div class="form-group">
	  <label for="sel1">Training Schedule</label>
	  <select class="form-control" id="sel2" name="schedule">
	    <option value="1">1</option>
	    <option value="2">2</option>
	    <option value="3">3</option>
	    <option value="4">4</option>
	  </select>
	</div>
	<div class="form-group">
<p>Do you have a laptop ?</p>
		<div class="form-check-inline">
      		<label class="form-check-label" for="radio1">
        	<input type="radio" class="form-check-input" id="radio1" name="laptop" value="no" checked>No
      		</label>
	        </div>
		<div class="form-check-inline">
		<label class="form-check-label" for="radio2">
		<input type="radio" class="form-check-input" id="radio2" name="laptop" value="yes">Yes
		</label>
		</div>
	  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btn-fledge">Register</button>
        </div>
	</form>
      </div>
    </div>
  </div>
</body>
<script>
	const form = document.querySelector("form");
        console.log(form);
        let formData;
	form.addEventListener('submit', function(e){
	    e.preventDefault();
	    formData = new FormData(form);
	    console.log(formData);
	    for (var key of formData.entries()) {
			console.log(key[0] + ', ' + key[1])
		}
	});
</script>
</html>
